

a{
  text-decoration: none !important;
  color: white !important;
}
.exercise-form{
  margin:0 30%;
}
.exercise-form h1{
  text-transform: capitalize;
}
.list{
  margin: 0 10%;
}
.edit {
  /* color: white !important; */
  background-color: blue;
  /* font-size: 24px; */
}